/* css stylesheet for the markdown page content */

.markdown-formatting h1{
    font-family: 'Rubik', 'sans-serif';
    font-weight: normal;
    font-size: clamp(0.875rem, 0.73rem + 0.725vw, 1.6rem);
    color: var(--color-primary);
}

.markdown-formatting h2{
    font-family: 'Rubik', 'sans-serif';
    font-weight: normal;
    font-size: clamp(0.8rem, 0.66rem + 0.7vw, 1.5rem);
    color: var(--color-primary);
}

.markdown-formatting h3 {
    font-size: clamp(0.76125rem, 0.6335rem + 0.6387vw, 1.4rem);
    padding: 1em 0 1em 0;
    font-family: 'Space Mono';
    color: var(--color-secondary);
}

.markdown-formatting p {
    font-family: 'Rubik', 'sans-serif';
    font-weight: 200;
    font-size: clamp(0.86875rem, 0.7225rem + 0.7313vw, 1.6rem);
    color: var(--color-primary);
}

.markdown-formatting img {
    padding-top: 1em;
    max-height: 90vh;
    margin-inline: auto;
}

.img-w-50 {
    width: 50%;
    margin-inline: auto;
}

.img-w-75 {
    width: 75%;
    margin-inline: auto;
}

