---
//TODO: SEO headers
//TODO: Main Page
//TODO: Blog pages

//Importing constants
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

//Importing layouts
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
    <h1>I can add stuff here</h1>
</BaseLayout>