---
import HeaderLink from './HeaderLink.astro';
import { getCollection } from 'astro:content';
import Toggler from './Toggler.astro';
const proj = await getCollection('projects');
---
<Toggler />
<header>
	<nav>
		<div>
			<h2 class="font-space-mono color-secondary">Jasmine FAN Choreographer, Curator, Artist</h2>
			<h1 class="font-rubik color-primary">Synthesis of Rhythm: A Multidisciplinary Dance Odyssey</h1>
		</div>

		<div>
			<h2 class="font-space-mono color-secondary">NEWS</h2>
			<p class="font-rubik">
				<a href="https://tikkio.com/organizer/10893-jasmine-fan" target="_blank">
					18.05.2023 COLOR ⾊ Premier in Wiese. e. G.
				</a>
				<br>
				<a href="https://tikkio.com/organizer/10893-jasmine-fan" target="_blank">
					19.05.2023 - 20.05.2023 COLOR ⾊ performance in Wiese e. G.
				</a>
			</p>
		</div>

		<div>
			<h2 class="font-space-mono color-secondary">PROJECTS</h2>
			<ul>
				{proj.map(element =>(
					<li>
						<HeaderLink href={`/project/`+ element.slug} class="block font-rubik">
						{element.data.title}
						</HeaderLink>
					</li>
				))}
			</ul>
		</div>

		<div>
			<h2 class="font-space-mono color-secondary">Jasmine FAN</h2>
			<p class="font-rubik">
				Jasmine Fan, born in Taiwan, is a curator, choreografin and dancer based in
				Hamburg and Paris, working with a variety of genres and artists. Her work
				spans a wide range of genres and uses interdisciplinary media, including film
				and digital media, to translate her concepts for her audiences. She is also
				the founder and festival director of the TANZAHOi International Festival for
				Dance in Hamburg.
				<br>
				
			</p>
			<div class="social-media">
				<a href="https://www.instagram.com/jasminefan_choreographer/" target="#">
					<i class="bi bi-instagram color-primary"></i>
				</a>
				<a href="https://www.youtube.com/channel/UCxkomaXB9x5oNEI_5W9KdIw" target="#">
					<i class="bi bi-youtube color-primary"></i>
				</a>
				<a href="https://vimeo.com/jasminefan" target="#">
					<i class="bi bi-vimeo color-primary"></i>
				</a>
			</div>
		</div>

		<div>
			<h2 class="font-space-mono color-secondary">CONTACT</h2>
			<p class="font-rubik color-primary">
				jasmine@jasminefan.de <br>
				Phone: +49 176 31620022<br>
			</p>
		</div>

		<p class="nav-footer font-rubik color-primary">Website by <a href="https://dharod.de" target="_blank">Archit Dharod</a> • Layout inspired by <a href="https://cargo.site/" target="_blank">cargo.site</a></p>
	</nav>
</header>

<style>
	header {
		top: 0;
		right: 0;
		height: 100vh;
		padding: clamp(0.8rem, 0.5442rem + 2.0465vw, 3rem);

		min-width: 320px;

		overflow-y: scroll;
		background-color: #f5d9ce;

		display: none;
		z-index: 1;
		position: fixed;
	} 

	nav {
		display: flex;
		flex-direction: column;
		gap: clamp(1.8rem, 1.56rem + 1.2vw, 3rem);
	}
	
	h1 {
		font-size: clamp(1.631875rem, 1.3582rem + 1.3681vw, 3rem);
    	line-height: 1.2;
	}

	h2{
		font-size: clamp(0.7615625rem, 0.6806rem + 0.4047vw, 1.16625rem);
	}

	ul {
		line-height: clamp(1.5rem, 0.8488rem + 1.2093vw, 2.3rem);
		padding-left: 1rem;
	}

	li {
		font-size: clamp(1.0875rem, 0.905rem + 0.9125vw, 2rem);
		position: relative;
		list-style-type: none;
	}

	li::before {
		content: "•";
		font-size: 1.5rem;
		position: absolute;
		left: -0.8em; /* Adjust this value to control the horizontal position of the marker */
		top: 50%;
		transform: translateY(-50%); /* Vertically center the marker with the text */
	}

	p {
		font-size: clamp(0.86875rem, 0.7425rem + 0.6312vw, 1.5rem);
	}

	.block {
		display: block;
		}
	
	.social-media {
		padding-top: 1em;
		display: flex;
		gap: 0.8em;
		font-size: clamp(1.088125rem, 0.9058rem + 0.9119vw, 2rem);
	}

	p :is(a) {
		text-decoration: none;
		color: inherit;
		font-weight: 600;
	}

	.nav-footer {
		font-size: clamp(0.6rem, 0.52rem + 0.4vw, 1rem);
	}

	@media (min-width: 700px) {
		header {
			display: block !important;
			min-width: 200px;
			padding: clamp(0.8rem, 0.5442rem + 2.0465vw, 3rem);
			width: 38%;
			z-index: 1;
			background-color: #F5D9CEB3;
		}
	}

</style>
