---
import HeaderLink from './HeaderLink.astro';
import { getCollection } from 'astro:content';

const proj = await getCollection('projects');

---

<header>
	<nav>
		<h1 class="font-rubik color-primary">There is only one way to save yourself: sacrifice your reputation.</h1>

		<HeaderLink href={"/"} class="block font-rubik">
			Home
		</HeaderLink>
		{proj.map(element =>(
			<HeaderLink href={`/project/`+ element.slug} class="block font-rubik">
				{element.data.title}
			</HeaderLink>
		))}

		<h2 class="font-space-mono color-secondary">Jasmine Yi Chun Fan</h2>
	</nav>
</header>

<style>
	header {
		top: 0;
		right: 0;
		width: 38%;
		height: 100vh;
		padding: 3rem;

		overflow-y: scroll;
		background-color: #F5D9CEB3;

		z-index: 1;
		position: fixed;
	} 
	
	h1 {
		font-size: 3rem;
    	line-height: 1.2;
	}
	.block {
		display: block;
		}
</style>
