---

---

<a href="/index.html">
    <img class="JAFA-logo" src="/JAFA.svg" alt="Jasmine Fan website Logo">
</a>

<style>
    .JAFA-logo {
        display: none;
        width: 120px;
        height: 120px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
    }

    @media (min-width: 700px) {
        .JAFA-logo {
        right: 38%;
        display: block !important;
        }
	}
</style>