---
import type { HTMLAttributes } from 'astro/types';
import type { ImageMetadata } from 'astro:assets';
import { Image } from 'astro:assets';

interface Props {
    src: ImageMetadata,
    alt: string,
    caption: string,
    class?: string,
    props?: HTMLAttributes<'img'>
}

const { src, alt, class: className, caption, ...props } = Astro.props;
---
<div class="project-img">
    <Image
        src={src}
        alt={alt}
        loading="lazy"
        {...props}
    />
    <h3 class="font-space-mono color-secondary">{caption}</h3>
</div>

<style>
    .project-img img {
        max-width: 100%;
        height: auto;
    }

    h3 {
        font-size: clamp(0.76125rem, 0.6335rem + 0.6387vw, 1.4rem);
        padding: 0.5em 0 1.5em 0;
        font-family: 'Space Mono', monospace;
    }
</style>