---
import BaseLayout from "../../layouts/BaseLayout.astro";
import {getCollection} from 'astro:content';

const newsPost = await getCollection('newsletter');
---

<BaseLayout title="This is News" description="bla bla">
    <ul>
        {
            newsPost.map(post =>(
                <li>{post.data.title} , slug: {post.slug}, <br> {post.body}</li>
            ))
        }
    </ul>
</BaseLayout>