---
//Componenets import
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import '@fontsource/rubik';
import "@fontsource/space-mono";

export interface Props {
	title: string;
	description: string;
	image?: string;
}

//Defining Props
const {title, description} = Astro.props;
---
<!-- Website designed and developed by Archit Dharod (https://dharod.de/) -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header></Header>
		<slot>
			
		</slot>
    </body>
</html>